label {
  display: block;
  margin-top: 10px;
}

.card-container.card___{
  max-width: 350px !important;
  padding: 40px 40px;
}

.card_ORIG {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card{
position: relative;
top: 150px;
margin: 0 auto 25px;
padding: 20px 25px 30px;
width: 570px;
max-width: 100vh;
height: 287px;
background: rgba(196, 196, 196, 0.5);
border-radius: 10px;
}

.butt{
width: 177px;
height: 59px;
left: 922px;
top: 905px;
background: #A6A5A5;
border-radius: 5px;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.bg-nav{
  color:#E5E5E5;
  background: rgba(53, 53, 54, 0.8);
  max-height: max-content;  
}

li{
  color:#E5E5E5
}

.laranja{
  width: 680px;
  height: 691px;
  margin: 0px;
  border-radius: 0px;
}

.padImg{
  padding-left: -15px;
  margin: 0px;
}

body{
  background: #E5E5E5;
}



.center{
  margin-left: 50px auto;
  margin-top: 0px auto;

}
.footer{
 height: 200px;
background-color: #1B1B1B;
}

.parag{
padding: 20px 25px 30px;
width: 163px;
height: 30px;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 30px;
/* identical to box height, or 115% */
text-align: right;
color: #000000;
}

.par{
padding: 20px 25px 30px;
width: 652px;
height: 25px;
}

.logo{
  max-height: 60px;
}

.pad{
  padding: 20px 25px 30px;
}

.branco{
  color: #E5E5E5;
  padding: 70px 15px 30px;
  
}

.icons {
  padding: 10px 28px 10px;
  margin-top: px;
  height: 40px;
}


